body {
  background-image: url(img/subtle_zebra_3d_@2X.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: transparent;
}

h1, h2, h3, h4 {
  font-family: 'Raleway'; 
  font-weight: 800;
}

.outcome {
  font-size: 16px; 
}

.spacer {
  padding-top: 100px;
}

.jumbotron p {
  font-size: 18px;
  font-family: 'Merriweather';
}

.top-link {
  position: fixed;
  bottom: 2%;
  right: 10px; 
  font-size: 20px;
}

.img-responsive {
  margin-top: 15px;
  margin-bottom: 15px;
}

#index {
  background-color: #DFE2CF;
}

#outcome1 {
  background-color: #FCB97D;
}

#outcome2 {
  background-color: #C4B7CB;
}

#outcome3 {
  background-color: #BFEDEF;
}

#outcome4 {
  background-color: #98E2C6;
}

#outcome5 {
  background-color: #CDB2AB;
}